
.wd-search_bar {
    height: 30px;
    line-height: 30px;
    width: calc(100% - 90px);
    border-radius: 50px;
    background-color: darkgray;
    color: white;
    padding-left: 30px;
}

.wd-site_color {
    background-color: black;
}

.wd-helvetica {
    font-family: "Helvetica";
}

.wd-top_tabs {
    width: 16.67%;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    padding: 16px;
}

.wd-selected_color {
    color: rgb(29,161,242);
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-thickness: 4px;
}

.wd-unselected_color {
    color: rgb(110,118,125);
}

.wd-text_bold {
    font-weight: bold;
}

.wd-text_white {
    color: rgb(255,255,255);
}

.wd-topic-text {
    font-size: 13px;
}

.wd-border {
    border-style: solid;
    border-width: 1px;
    border-color: rgb(47, 51, 54);
    padding: 10px;
}

.wd-under-border {
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-color: rgb(47, 51, 54);
    border-right-color: rgb(47, 51, 54);
    border-bottom-color: rgb(47, 51, 54);
    padding: 10px;
}

.wd-word_padding_no_image {
    margin: 6px;
}

.wd-word_padding {
    margin: 3px;
}

.float_right {
    float: right;
}

.float_left {
    float: left;
    position: relative;
}

.wd-image-size {
    width: 100px;
    height: 100px;
}

.wd-image-rounded {
    border-radius: 15px;
    margin-right: 16px;
}

.clear_float {
    clear: right;
}

.grid_row {
    clear: both;
}

.grid-col-right-side-bar {
    width: 33%;
    float: right;
}

.wd-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.wd-description {
    grid-column: 1 / 3;

}

.wd-image {
    grid-column: 4;
}

.wd-center-text {
    text-align: center;
}

.wd-inline {
    display: inline-block;
}

.wd-flex-display {
    display: flex;
    justify-content: space-between;
}

.wd-flex-column-display {
    display: flex;
    flex-direction: column;
}

.wd-blue {
    color: rgb(29,161,242);
}

.wd-gear-changes {
    font-size: 20px;
    margin-right: 12px;
    margin-top: 12px;

}